body{
	font-size: 100%;
}
.tp-banner-container container{
	font-size: 70%;
	align-items: center;
}

img.img-bordered {
    border-radius: 65px;
    border: 3px solid red;
    width: 120px;
    height: 120px;
}